

  <div class="container py-2">
    <div class="row">
      <% @registrations.each do |registration| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'tournaments/tournament_card', { registration: registration } %>
        </div>
      <% end %>
    </div>
  </div>



