<%= render 'shared/tabs' %>
  <div class="container py-5">
    <div class="row">
      <% @registrations.each do |registration| %>
        <%= render 'tournaments/tournament', { tournament: registration.tournament } %>
      <% end %>
    </div>
  </div>



