<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Matchs",  tournament_path(@tournament), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Joueurs",  tournament_users_path(@tournament), class:"nav-link active" %>
    </li>
  </ul>
</div>



 <div class="container py-2">
  <h2 ><%= @tournament.name %></h2>
  <h4>Liste des joueurs</h4>
    <ul>
      <% @users.each do |user| %>
         <li><%= "#{user.first_name} #{user.last_name} - #{user.ranking} - #{user.club}" %></li>
      <% end %>
    </ul>
  </div>
