<div class="container" style="width: 600px;">
  <div class="row">
    <h2> <%= @tournament.name %> </h2>
  </div>
    <h4>Liste des matchs</h4>
      <% @tournament.matches.each do |match| %>
      <%= render "shared/card_match", match: match %>
      <% end %>
</div>
