<div class="card border-secondary mb-3">
  <div class="card-header d-flex justify-content-between">
      <%= user.first_name %>
      <%= user.last_name %> :
      <%= user.ranking %>
  </div>
  <div class="card-body text-secondary">
    <p class="card-text">
       Club : <%= user.club %>
      </p>
  </div>
  </div>
