<div class="banner" style="background-image: url('http://aquitaine.media.tourinsoft.eu/upload/Tennis-2.jpg');">
  <div class="banner-content">
    <h1>Plan My Play</h1>
    <p>Better plan better play</p>
  </div>
</div>
