<div class="banner" style="background-image: url(<%= image_path 'rsz_home.jpg' %>);height:  calc(100vh - 70px)">
  <div class="banner-content">
    <h1>Plan My Play</h1>
    <p>Better plan better play</p>
  </div>
</div>
