<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://files.slack.com/files-pri/T02NE0241-FE9GE3K9P/image.png');">
  <div class="banner-content">
    <h1>Plan My Play</h1>
    <p>Better plan better play</p>
  </div>
</div>


