<%= render 'shared/tabs' %>

<div class="container py-5">
<div class="row">
    <% @convocations.each do |convocation| %>
    <div class="col-xs-12 col-sm-4">
      <%=  render "shared/card_convocation", convocation: convocation %>
    </div>
    <% end %>
</div>
</div>




