<%= render 'shared/tabs' %>

<% pending_convocations = [] %>
<% current_convocations = [] %>
  <% @convocations.each do |convocation| %>
    <% pending_convocations << convocation if convocation.pending? %>
    <% current_convocations << convocation if convocation.match.begin_at >= Date.today && !convocation.pending? %>
  <% end %>

<div class="container py-5">
    <div class="row">
      <% if pending_convocations.any? %>
        <h4>Convocations en attente de réponse</h4>
      <% else %>
        <h4>Aucune convocation en attente de réponse</h4>
      <% end %>
    </div>
    <div class="row d-flex justify-content-around" id="pending-convocations">
      <% pending_convocations.each do |pending_convocation| %>
        <%=  render "shared/card_convocation", convocation: pending_convocation %>
      <% end %>
    </div>
    <div class="row">
      <% if current_convocations.any? %>
        <h4>Matchs à venir</h4>
      <% else %>
        <h4>Aucun match prochainement</h4>
      <% end %>
    </div>
    <div class="row d-flex justify-content-around" id="current-convocations">
      <% current_convocations.each do |current_convocation| %>
        <%=  render "shared/card_convocation", convocation: current_convocation %>
      <% end %>
    </div>
</div>





