<div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Mes convocations",  player_convocations_path, class:"nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Mes disponibilités",  player_availabilities_path, class:"nav-link" %>
      </li>
    </ul>
</div>





<div class="container py-4">
<div class="row">
    <% @convocations.each do |convocation| %>
    <div class="col-xs-12 col-sm-4">
      <%=  render "shared/card_convocation", convocation: convocation %>
    </div>
    <% end %>
</div>
</div>




