.card-columns.convoc {
  padding-top: 2rem;
}
.card-footer {
  width: 100%;
  background-color: #add2c9;
}
a {
  color: white;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: white;
}
