.nav-tabs {
  border-bottom: -1rem solid #9B9B9B;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #06AED3;
    border-bottom: 4px solid #06AED3;
    border-left: transparent;
    border-right: transparent;
    background-color: #F9F8EB;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #9B9B9B;
    text-decoration: none;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
    color: grey;
}
