.main-container {
  display: flex;
}

.container {
    max-width: 1140px;
    margin-top: 79px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}


.card-picture {
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}


.card-body {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3;
}
.card-picture {
  display: flex;
  background-size: cover;
  background-position: center;
  position: relative;
  h3 {
    color: white;
  }
}

.card-likes {
  color: #B3B3B3;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  p {
  padding: 0px;
  font-family: Montserrat;
}}

.card-footer {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

// .tournament-card-v2 {
//   &-picture {

//   },
//   &-text {
//     &-title {

//     }
//     &-body {

//     }
//   }
//   &-actions {
//     &-button {

//     }
//   }
// }



// class="tournament-card tournament-card-picture"

// }

