<div class="container">
  <div class="card-columns convoc">
      <% @convocations.each do |convocation| %>
      <%=  render "shared/card_convocation", convocation: convocation %>
      <% end %>
  </div>
</div>


